body {
  margin: 0;
}

.wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

.subheading {
  color: white;
  font-size: 24px;
}


/* ------- section part ------- */

.section-about {
  background-color: #251b37;
  /*background: url(" ") -67% / contain no-repeat;*/
}

.section-skill {
  background-color: #372948;
  /*background: url(" ") center/cover no-repeat;*/
}

.section-project {
  background-color: #ffcaca;
  /*background: url(" ") center/cover no-repeat;*/
}

.section-contact {
  background-color: #ffecef;
  /*background: url(" ") center/cover no-repeat;*/
}

/* ------- end of section part ------- */

/* ------- section about part ------- */

.content-about {
  max-width: 800px;
}

.content-about-title {
  font-size: 54px;
  text-align: center;
  color: #c985f7e8;
}

.content-about p {
  color: whitesmoke;
}

p.lead {
  text-align: center;
  color: peachpuff;
}

.content-about h3 {
  color:#ffcaca;
}

.content-about-details {
  color: whitesmoke;

}

/* ------- end of section about part ------- */

/* ------- section skill part ------- */

.section-skill {
  color: white;
}

.content-skill-title{
 color: whitesmoke;
 font-size: 3.5rem;
 text-align: center;
}

/* ------- end of section skill part ------- */

/* ------- section project part ------- */

.section-project {
  color: black;
  background: #ffcaca url("../img/laptop1.png") center/cover no-repeat;
  background-size: 80%;
}

.content-project-title{
 color: #1d1d1d;
 font-size: 3.5rem;
 text-align: center;
}

.content-project {
  text-align: center;
  position: relative;
  left: 21%;
  top: 20%;
  width: 57%;
}

.content-project-1 {
  position: relative;
  left: 55%;
  top: 20%;
  width: 10%;
  height: auto;

}

.content-project-2 {
  position: relative;
  left: 13%;
  top: 50%;
  width: auto;
  height: auto;
}

/* ------- end of section project part ------- */

/* ------- section contact part ------- */

.content-contact {
  align-items: center;
  width: 100%;
  height: 100vh;
}

.content-contact .icon-link {
  text-decoration: none;
  font-size: 24px;
  color: #252525;
}

.icon {
  
}



/* ------- end of section contact part ------- */
